*.iml
.classpath
.project
.idea/
.git/
target/
.settings/
*/*.iml
*/*.iml
*/*.log

api/*.iml
api/.classpath
api/.project
api/.idea/
api/.git/
api/target/
api/.settings/

Permanent_Data/*


biz/*.iml
biz/.classpath
biz/.project
biz/.idea/
biz/.git/
biz/target/
biz/.settings/


web/*.iml
web/.classpath
web/.project
web/.idea/
web/.git/
web/target/
web/.settings/

